:root{
  --primary-text-color: rgb(46, 34, 17);
  --secondary-text-color: rgb(190, 190, 190);
  --light-border-color: rgb(221, 201, 175);
  --yellow-light-variant: #f9e084;
  --yellow-dark-variant: #f3d360
}